<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>最新つぶやき一覧</title>
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="title">
                つぶやきアプリ
            </div>
            <div class="profile_button" onclick="location.href='/profile/'">
                {{ request.session.account.name }}@{{ request.session.account.id }}
            </div>
        </div>
        <div id="contents" class="contents"></div>
        <div>
            <button id="lead_more_button" class="lead_more_button">
                さらに読み込む
            </button>
        </div>
    </div>
    <!-- JavaScript Cookie library -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{% static 'js/posts.js' %}" async></script>
</body>
</html>